{% extends 'base.html' %}

{% block content %}

<!-- 
 ////////// First drill down form //////////
-->

<h1>{{ labels.h1 }}</h1>
<hr/>
<form id="cubes_ui_form" class="form-horizontal" method="GET">
<fieldset>
  <div class="control-group">
    <label class="control-label">{{ labels.query }}:</label>
    <div class="controls">
      <select id="first_drilldown_select" name="drilldown"></select>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{{ labels.submit }}</button>
    &nbsp;
    <button class="btn" onclick="
     var form = $('#cubes_ui_form')[0];
     form.drilldown.value = '';
     form.submit();
    ">{{ labels.clear }}</button>
   </div>
 </fieldset>
</form>

<h3 id="child_chart_title"></h3>
<hr/>
<div id="child_chart_div"></div>
<hr/>
<h3 id="chart_div_title"></h3>
<hr/>
<div id="chart_div"></div>
<hr/>
<div id="table_div"></div>


<!-- 
 ////////// Drill down deep select dialog //////////
-->

<a id="launch_drilldown_dialog" class="btn hide" data-toggle="modal" href="#drilldown_dialog" >Launch Drill-down-deep Modal</a>

<div class="modal hide fade" id="drilldown_dialog">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3 id='drilldown_dialog_title'>{{ labels.drill_down }}<!-- default value --></h3>
  </div>
  <div class="modal-body">
<form id="drilldown_dialog_form" class="form-horizontal" method="GET">
<fieldset>
  <div class="control-group">
    <label class="control-label">{{ labels.drill_down }}:</label>
    <div class="controls">
      <select id='drilldown_dialog_select' name="dimension"></select>
    </div>
  </div>
 </fieldset>
</form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">{{ labels.close }}</button>
    <button class="btn btn-primary" id="drilldown_dialog_submit" data-dismiss="modal" data-loading-text="Now Loading..." >{{ labels.submit }}</button>
  </div>
</div>

{% endblock %}

{% block body_js %}
<script type="text/javascript">//<![CDATA[

function initDimensionsSelectBox(selectbox) {
  for (var i = 0; i < selectbox.options.length; i++) {
    selectbox.options.remove(selectbox.options[i]);
  }
  var empty = $('<option>').text('{{ labels.please_select }}').val('');
  $(selectbox).append(empty);
  $(selectbox){% for dim in dimensions %}.append($('<option>').text('{{ dim.label }}').val('{{ dim.name }}'){% if dim.name == drilldown_key %}.attr('selected', 'selected'){% endif %}){% endfor %};
}
var firstDrilldownSelectBox = $('#first_drilldown_select')[0];
initDimensionsSelectBox(firstDrilldownSelectBox);

var dialogSelectBox = $('#drilldown_dialog_select')[0];
initDimensionsSelectBox(dialogSelectBox);
removeOptionFromSelectBox(dialogSelectBox, '{{ drilldown_key }}');

{% if drilldown_key != '' %}
var baseUrl = '/simple/chart?drilldown={{ drilldown_key }}';
var displayTableUrl = baseUrl + '&display_type=table&element_id=table_div&function_name=displayTable';
var displayChartUrl = baseUrl + '&display_type=barchart&element_id=chart_div&function_name=displayChart';
loadFunction(displayTableUrl);
loadFunction(displayChartUrl);
google.setOnLoadCallback(displayTable);
google.setOnLoadCallback(displayChart);
{% endif %}

//]]></script>
{% endblock %}

